.container-Footer {
  background-color: rgb(29, 29, 29);
  color: white;
  text-transform: uppercase;
  display: flex;
  font-size: 15px;
  box-sizing: border-box;
}
.web-footer-one {
  padding-top: 30px;
  font-size: 12px;
  background-color: rgb(29, 29, 29);
  color: white;
  text-transform: uppercase;
  font-size: 15px;
  box-sizing: border-box;
}
.copyrightContainer {
  display: flex;
  flex-direction: column;
  width: 90%;
  text-transform: capitalize;
}
h6:hover {
  color: lightslategray;
  cursor: pointer;
}
.footer-main-container {
  background: #000027;
  height: auto;
}
